.mapcontainer {
  position: relative;
  opacity: 1;
  z-index: 1;
}

.content {
  margin-bottom: 60px;
}

.mapcontainer>.content>.title {
  color: #FDF5C4;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

.mapcontainer>.content>.tanggal {
  color: #f6f6f6;
  font-size: 18px;
  text-align: center;
}

.mapcontainer>.content>.deskripsi {
  color: #f6f6f6;
  font-size: 18px;
  margin: 10px 0px;
  text-align: center;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%px;
  border: 0.1px solid #fcfafa;
  border-radius: 10px;
}

.gmap_canvas>iframe {
  width: 100%;
  height: 500px;
}