.guestmessagecontainer {
  text-align: center;
  margin: 2em 0em 0em 0em;
}

.guestmessagecontainer p {
  text-align: left;
  font-weight: 300;
}

.guestmessagecontainer p:nth-child(1) {
  color: #fdf5c4;
  font-size: 17px;
  margin: 5px 0px;
}

.guestmessagecontainer p:nth-child(2) {
  color: #fff;
  font-size: 16px;
  margin: 15px 0px 2px 0px;
}

.guestmessagecontainer p:nth-child(3) {
  color: #ebebeb;
  font-size: 15px;
  margin: 3px 0px 30px 0px;
}