.guestmessagecontainer {
  text-align: center;
  border-top: 0.1em solid #fff;
  margin: 2em 0em 0em 0em;
}

.guestmessagecontainer>p:nth-child(1) {
  font-weight: 300;
  letter-spacing: 0.08em;
  color: #3F3209;
  display: block;
}

.guestmessagecontainer>p:nth-child(2) {
  font-style: italic;
  font-size: 16px;
  color: #FDF5C4;
  font-weight: 300;
  letter-spacing: 0.08em;
}
