html,
body {
  margin: 0em;
  overflow-x: hidden;
  font-family: "Trirong", serif;
}

p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

/* Main Page */

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  z-index: -10;
}

.rootpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(188.48deg, #CCDFEA 8.58%, #A1CAD3 93.51%);
}

.rootpage>div {
  max-width: 428px;
}

.mainpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainpage>p:nth-child(1) {
  font-size: 16px;
  letter-spacing: 0.275em;
  color: #FFFFFF;
}

.mainpage>p:nth-child(2),
.mainpage>p:nth-child(5) {
  font-size: 23px;
  letter-spacing: 0.02em;
  color: #FDF5C4;
  margin: 0;
}

.mainpage>p:nth-child(3),
.mainpage>p:nth-child(6) {
  font-size: 14px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  margin: 0;
}

.mainpage>p:nth-child(4) {
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 2;
  font-style: italic;
}

.mainpage>p:nth-child(7) {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 2;
}

.mainpage>p:nth-child(9) {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #FDF5C4;
  margin: 0;
}

.mainpage>p:nth-child(8),
.mainpage>p:nth-child(10) {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 2;
  font-style: italic;
}

.invitbox {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.invitbox>div {
  padding: 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-title {
  font-family: 'Sofia', sans-serif;
  font-size: 36px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #e7e4d3;
}

.heading-subtitle {
  font-family: "Trirong", serif;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin: -0.8em 0 0 0;
  padding: 0;
  color: #59331e;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  background: #a1cad32b;
  overflow: hidden;
}

section {
  max-width: 428px;
  width: 100%;
  overflow: hidden;
}

// journey

.journey {
  font-family: 'Work Sans', Arial, sans-serif;
  background: linear-gradient(188.48deg, #CCDFEA 8.58%, #A1CAD3 93.51%);
  text-align: center;
  border-top: 0.1em solid #fff;
  padding: 10px 0px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
}

.journey>div {
  margin: 20px;
}

.journey>div>.title {
  color: #FDF5C4;
  font-size: 24px;
  margin-top: 10px;
}

.journey>div>.tanggal {
  color: #3F3209;
  font-size: 14px;
}

.journey>div>.deskripsi {
  color: #3F3209;
  font-size: 14px;
  margin-bottom: 30px;
}

.journey>div>.title:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 2.3px;
  background: #FDF5C4;
}


// guest message

.guestmessagecontainer {
  text-align: center;
  border-top: 0.1em solid #fff;
  margin: 2em 0em 0em 0em;
}

.guestmessagecontainer>p:nth-child(1) {
  font-weight: 300;
  letter-spacing: 0.08em;
  color: #3F3209;
  display: block;
}

.guestmessagecontainer>p:nth-child(2) {
  font-style: italic;
  font-size: 16px;
  color: #FDF5C4;
  font-weight: 300;
  letter-spacing: 0.08em;
}

// save the date
.savethedate {
  background: linear-gradient(180deg, rgba(165, 204, 212, 0) 0%, #A3CBD3 100%);
  margin: 0.05em 0em 0em 0em;
  padding: 1em;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stdcontainer {
  margin-top: 30%;
  background-color: #b8dde3;
  height: 200px;
  width: 350px;
  border: 0px solid rgb(155, 182, 209);
}

.stdcontainer>p:nth-child(1) {
  font-size: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 1px;
}

.stdcontainer>p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
  font-style: italic;
  color: #FDF5C4;
}

.countdowntimer {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.countdowntimer>div {
  padding: 10px;
}

.countdowntimer>div>p:nth-child(1) {
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}

.countdowntimer>div>p:nth-child(2) {
  margin-top: 0px;
}

// mempelai
.mempelai {
  background: linear-gradient(188.48deg, #CCDFEA 8.58%, #A1CAD3 93.51%);
  text-align: center;
  border-top: 0.1em solid #fff;
  padding: 10px 0px;
}

.mempelai>p {
  padding: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #3F3209;
  font-weight: 300;
}

.mempelai>.doa {
  margin-bottom: 15px;
  padding: 10px;
  margin: 0px 15px 15px 15px;
  letter-spacing: 0.08em;
}

.mempelai>.mempelainama {
  font-family: 'Sofia', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #fff;
  margin-bottom: 2px;
}

.mempelai>.mempelaiseparator {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 25px;
  color: #fff;
  font-family: 'Sofia', sans-serif;
}

.mempelai>.mempelaiortu {
  font-size: 12px;
  letter-spacing: 0.05em;
  margin: 0px;
  padding: 0px;
}

.mempelai>div>img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
}

// message
.message {
  background: linear-gradient(188.48deg, #CCDFEA 8.58%, #A1CAD3 93.51%);
  margin: 0.05em 0em 0em 0em;
  padding: 1em;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  font-family: "Trirong", serif;
  letter-spacing: 0.1em;
  font-weight: 300;
}

textarea {
  resize: none;
  height: 10em;
}

.form-container>button {
  width: 100%;
  background-color: #4CAF50;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 2;
  font-style: italic;
}

.form-container {
  padding: 1em;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.guest {
  background: #A1CAD3;
  margin: 0.05em 0em 0em 0em;
  padding: 1em;
}

.footer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: "Trirong", serif;
  letter-spacing: 0.1em;
  font-weight: 300;
}

// icon music
.icon-music {
  position: fixed;
  bottom: 24px;
  left: 20px;

  width: 40px;
  height: 40px;

  z-index: 200;

  cursor: pointer;
  border: 1px solid #A1CAD3;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

// Snowflake
.snowflake {
  --size: 1px;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }

  100% {
    transform: translate3d(var(--left-end), 100vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: 2px;
    --left-ini: 2px;
    --left-end: 2px;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}