html,
body {
  margin: 0em;
  overflow-x: hidden;
  font-family: "Trirong", serif;
  letter-spacing: 1.5px;
}

p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Main Page */
small {
  font-size: 11px;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  z-index: -10;
}

.rootpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(188.48deg, #b5def6 8.58%, #8bcad8 93.51%);
}

.rootpage>div {
  max-width: 428px;
}

.mainpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainpage>p:nth-child(1) {
  font-size: 16px;
  letter-spacing: 0.275em;
  color: #FFFFFF;
}

.mainpage>p:nth-child(2),
.mainpage>p:nth-child(5) {
  font-size: 23px;
  letter-spacing: 0.02em;
  color: #FDF5C4;
  margin: 0;
}

.mainpage>p:nth-child(3),
.mainpage>p:nth-child(6) {
  font-size: 14px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  margin: 0;
}

.mainpage>p:nth-child(4) {
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 2;
  font-style: italic;
}

.mainpage>p:nth-child(7) {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 2;
}

.mainpage>p:nth-child(9) {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #FDF5C4;
  margin: 0;
}

.mainpage>p:nth-child(8),
.mainpage>p:nth-child(10) {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 2;
  font-style: italic;
}

.invitbox {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.invitbox>div {
  padding: 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// main-page

.container {
  margin: 0em;
  padding: 1em;
  min-height: 100vh;
}

.heading-title {
  font-family: 'Sofia', sans-serif;
  font-size: 36px;
  font-style: italic;

  width: 100%;
  text-align: center;
  margin: 30px 0px;
  color: #e7e4d3;
  padding: 10px 0px;

  border-width: 2px 0px;
  border-style: solid;
  border-color: #f6f5f3;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  background: #a1cad32b;
  overflow: hidden;
}

section {
  max-width: 428px;
  width: 100%;
  overflow: hidden;
}

// music
.icon-music {
  position: fixed;
  bottom: 24px;
  left: 20px;

  width: 40px;
  height: 40px;

  z-index: 200;

  cursor: pointer;
  border: 1px solid #A1CAD3;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.icon-music>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon>polyline {
  stroke: #ffffff;
}

.prevbtn {
  top: 40%;
  position: absolute;
  cursor: pointer;
  right: 0px;
  left: auto;
  z-index: 10;
  opacity: 0.6;
}

.nextbtn {
  top: 40%;
  position: absolute;
  cursor: pointer;
  right: auto;
  z-index: 10;
  opacity: 0.6;
}

// snowflake

.snowflake {
  --size: 1px;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }

  100% {
    transform: translate3d(var(--left-end), 100vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: 2px;
    --left-ini: 2px;
    --left-end: 2px;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}