.savethedate {
  position: relative;
  opacity: 1;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.savethedate img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  z-index: -10;
  width: 375px;
  object-fit: cover;
}

.stdcontainer {
  margin-top: 30%;
  background-color: #ff14934a;
  height: 200px;
  width: 350px;
  border: 0px solid #E91E63;
}

.stdcontainer>p:nth-child(1) {
  font-size: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 1px;
}

.stdcontainer>p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
  font-style: italic;
  color: #FDF5C4;
}

.countdowntimer {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.countdowntimer>div {
  padding: 10px;
}

.countdowntimer>div>p:nth-child(1) {
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}

.countdowntimer>div>p:nth-child(2) {
  margin-top: 0px;
}
